Olá para acessar a API basta utilizar os links:<br>
<ul>
  <li>Salas
    <ul>
    <li><a href="/pt-br/api/rooms/">Lista e Criação /pt-br/api/rooms/</a></li>
    <li><a href="/pt-br/api/rooms/">Edição e exclusão: /pt-br/api/rooms/ + id instancia</a></li>
    </ul>
  </li>
    <li>Agendamento
      <ul>
      <li><a href="/pt-br/api/schedules/">Lista e Criação /pt-br/api/schedules/</a></li>
      <li><a href="/pt-br/api/schedules/">Edição e exclusão: /pt-br/api/schedules/ + id instancia</a></li>
      </ul>
    </li>
</ul>
